dify/reportflow-chatflow.yml
app:
  description: >-
    ReportFlow 配套 Chatflow。客户端会把 system 指令 + few-shot + JSON Schema + 原文档
    全部拼进 query 发来，这里只做"指令透传"：把 query 原样交给 LLM，并把 LLM 输出原样返回，
    不做摘要 / 整形 / 修饰。配合 ReportFlow 的「Dify Chatflow」预设使用。
  icon: 📄
  icon_background: '#EFF1F5'
  mode: advanced-chat
  name: ReportFlow 结构化解析
  use_icon_as_answer_icon: false
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - id: start-llm
        source: start
        target: llm
        sourceHandle: source
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: start
          targetType: llm
      - id: llm-answer
        source: llm
        target: answer
        sourceHandle: source
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: llm
          targetType: answer
    nodes:
      - id: start
        type: custom
        position:
          x: 80
          y: 280
        positionAbsolute:
          x: 80
          y: 280
        width: 240
        height: 90
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: start
          title: 开始
          desc: ''
          variables: []
      - id: llm
        type: custom
        position:
          x: 400
          y: 280
        positionAbsolute:
          x: 400
          y: 280
        width: 360
        height: 200
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: llm
          title: LLM（指令透传）
          desc: 把 query 原样交给模型，不要自行摘要 / 整形 / 修饰
          model:
            # 导入后请在界面里改成你自己已配置的模型供应商与模型名
            provider: openai
            name: gpt-4o-mini
            mode: chat
            completion_params:
              # 结构化抽取：低温度更稳定
              temperature: 0.1
              # 原文档可能很长，给足输出空间，避免 JSON 被截断
              max_tokens: 8192
          prompt_template:
            - role: system
              text: >-
                你是严格遵循用户指令的助手。用户的输入里已经包含完整的角色设定、
                输出格式要求（通常是 JSON Schema）和待处理的原文档。

                硬性要求：
                1) 完全按用户输入中的指令执行，不要自行总结、改写或精简内容。
                2) 当用户要求输出 JSON 时，只输出一个合法的 JSON 对象本身，
                   不要输出任何解释、前言、后记，也不要用 markdown 代码块包裹。
                3) 不要添加用户没有要求的字段或内容，缺失信息按用户指令用占位值处理。
            - role: user
              text: '{{#sys.query#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
          memory:
            # 单轮独立处理，客户端固定 conversation_id 为空，不要依赖会话记忆
            role_prefix:
              assistant: ''
              user: ''
            window:
              enabled: false
              size: 0
      - id: answer
        type: custom
        position:
          x: 840
          y: 280
        positionAbsolute:
          x: 840
          y: 280
        width: 240
        height: 110
        selected: false
        sourcePosition: right
        targetPosition: left
        data:
          type: answer
          title: 直接回复
          desc: 原样返回 LLM 输出
          variables: []
          answer: '{{#llm.text#}}'
    viewport:
      x: 0
      y: 0
      zoom: 0.9
